:root {
  --font-family-main: "Roboto", consolas, "Times New Roman", serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // Sizes
  --navbar-height: 50px;
  --sidebar-width: 200px;
  --sidebar-width-collapsed: 60px;
  --icon-size: 20px;

  // Paddings
  --sidebar-left-padding: calc(calc(var(--sidebar-width-collapsed) - var(--icon-size)) / 2);

  // Z-indexes
  --modal-z-index: 10;
  --header-z-index: 9;

  // Colors
  --overlay-color: rgb(0 0 0 / 50%)
}